.modal_form {
	width: 50%; 
	height: 60%; /* Рaзмеры дoлжны быть фиксирoвaны */
	border: 1px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 35%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 35%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	padding: 20px 10px;
}
.overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
.close {
	 top: -10px;
	 right: -10px;
	 width: 20px;
	 height: 20px;
	 position: absolute;
	 padding: 0;
	 border: 2px solid #ccc;
	 -webkit-border-radius: 15px;
	 -moz-border-radius: 15px;
	 -ms-border-radius: 15px;
	 -o-border-radius: 15px;
	 border-radius: 15px;
	 background-color: rgba(0, 15, 15, 0.8);
	 -webkit-box-shadow: 0px 0px 10px #000;
	 -moz-box-shadow: 0px 0px 10px #000;
	 box-shadow: 0px 0px 10px #000;
	 text-align: center;
	 text-decoration: none;
	 font: 13px/20px 'Tahoma', Arial, sans-serif;
	 font-weight: bold;
	 -webkit-transition: all ease .8s;
	 -moz-transition: all ease .8s;
	 -ms-transition: all ease .8s;
	 -o-transition: all ease .8s;
	 transition: all ease .8s;
}
.close:before {
	 color: rgba(255, 255, 255, 0.9);
	 content: "X";
	 text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	 font-size: 12px;
}
.close:hover {
	 background-color: rgba(252, 20, 0, 0.8);
	 -webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
	 -ms-transform: rotate(360deg);
	 -o-transform: rotate(360deg);
	 transform: rotate(360deg); 
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0 0 1.5em 6em;
  width: 40%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  border: 1px solid #575656;
  background: #607D8B;
}

.content {
  float: left;
  margin-left: 20%;
  margin-top: 2%;
  width: 60%;
}
.notes {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.notes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: auto;
  border-radius: 4px;
}
.notes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.notes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.notes .text {
  position: relative;
  top: -3px;
}
.notes .badge {
  display: inline-block;
  font-size: small;
  width: 5%;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.2em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.notes .note {
  display: inline-block;
  width: 87%;
  color: #1d1d11;
}
.notes .delete {
  display: inline-block;
  width: 4%;
}
.notes .delete-link {
    display: inline-block;
    border: none;
    border-radius: 100%;
    background-color: #EEE;
    color: red;
    text-decoration: none;
}
.notes .delete-link:hover {
    background-color: #DDD;
}
.form-group{
  margin: 0 0 0 5em;
  display: inline-block;
}

.buttonHolder{
  position: fixed;
  margin-top: 35%;
  margin-left: 90%;
  width:15%;
}

.button{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	float:left;
	height: 70px;
	margin: 0 30px 30px 0;
	position: relative;
	width: 70px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.button:after{
	color:#e9e6e4;
	content: "";
	display: block;
	font-size: 30px;
	height: 30px;
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	width: 30px;
}

.tick:after{
	content: "+";
	left:26px;
	top:16px;
}

.button:hover{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}

.heart:hover:after{
	color:#f94e66;
	text-shadow:0px 0px 6px #f94e66;
}

.tick:hover:after{
	color:#83d244;
	text-shadow:0px 0px 6px #83d244;
}

.button:active{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.selected {
	background-color: #CFD8DC !important;
	color: white;
}

.btnw{
  width: 6em;
}

input.ng-touched.ng-invalid.form-control {border:solid red 2px;}
input.ng-touched.ng-valid.form-control {border:solid green 2px;}

.detail {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.addinput{
	margin-top: 5px;
	margin-bottom: 10px;
	width:85%;
}

.addbutton{
	margin-right: 4%;
	width: 40%

}

.arhive {
	float: left;
	margin-top: 10px;
	width: 100%;
}